### Composer template
composer.phar
/source/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

# IntelliJ project files
.idea
*.iml
out
gen

### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Symfony template
# Cache and logs (Symfony2)
/source/app/cache/*
/source/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Email spool folder
/source/app/spool/*

# Cache, session files and logs (Symfony3)
/source/var/cache/*
/source/var/logs/*
/source/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

# Logs (Symfony4)
/source/var/log/*
!var/log/.gitkeep

# Parameters
/source/app/config/parameters.yml
/source/app/config/parameters.ini

# Managed by Composer
/source/app/bootstrap.php.cache
/source/var/bootstrap.php.cache
/source/bin/*
!bin/console
!bin/symfony_requirements

# Assets and user uploads
/source/web/bundles/
/source/web/uploads/

# PHPUnit
/source/app/phpunit.xml
/source/phpunit.xml

# Build data
/source/build/

# Composer PHAR
/source/composer.phar

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
/source/.web-server-pid

### Windows template
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
